header {
    height: 100%;
    padding: 10px;
    background-color: rgb(194, 20, 20);
    display: flex;
    justify-content: space-between;


    .burger_menu {
        display: none;
    }

    .header_menu {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;

            li {
                color: white;
                cursor: pointer;
                list-style-type: none;
                padding: 0 10px;
            }

            img {
                &:hover {
                    transition: transform 0.5s;
                    transform: rotate(180deg);
                }
            }
        }

        .selected_menu_li {
            li {
                color: rgb(218, 216, 216);
                border-bottom: 2px solid rgb(255, 255, 255);
                padding: 2px;
            }
        }
    }

    .selected_lang {   
        margin-right: 10px;
        text-align: center;

        button {
            cursor: pointer;
            border: none;
            outline: none;
            background: transparent;
        }

        img {
            width: 30px;
            margin-left: 20px;
        }

        .burger_img {
            display: none;
        }
    }

    .select_language {
        z-index: 9999;
        margin-right: 10px;
        position: absolute;
        right: 0;
        margin-top: 25px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px 0;
        width: 50px;
      
        ul {
            overflow: hidden;

            li {
                text-align: center;
                cursor: pointer;

                img {
                    width: 30px;
                }
            }

            .selected_li {
                background-color: rgb(159, 158, 158);
            }
        }
    }
}

@media (max-width: 800px) {
    header {
        .header_menu {
            display: block;

            .menu_li_text {
                display: none;
            }
        }

        .burger_menu {
            z-index: 99999;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            position: fixed;
            right: 0;
            margin-right: 10px;

            ul {
                overflow-y: hidden;
                position: fixed;
                top: 0;
                transform: translateX(100vh);
                right: -100vh;
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                transition: transform 0.3s;
                background-color: rgb(194, 20, 20);
            }



            .burger_ul {
                position: fixed;
                display: flex;
                flex-wrap: wrap;
                transform: translateX(-100vh);
                transition: transform 0.3s;
                z-index: 999;
                justify-content: flex-start;
                padding-top: 70px;
                a {
                    color: #fff;
                    text-decoration: none;
                    border: 1px solid #ffffff;
                    border-radius: 10px;
                    margin: 2px 3px;
                    li {
                        display: table-cell;
                        position: relative;
                        list-style: none;
                        padding: 10px 20px;
                    }
                   
                }
                .selected_menu_li{
                    border: 3px solid #ffffff;
                    li{
                        font-weight: 700;
                    }
                 }
            }

        }

        .selected_lang {
            z-index: 999999;
            .burger_button{
            .burger_img {
                display: inline;
            }
        }
        }

        .select_language {
            margin-right: 60px;
        }
    }
}